<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<p><a href="/">صفحه اصلی</a></p>
<p><a href="/about">صفحه درباره ما</a></p>

{{{ body }}}


<footer>
    copy right @ {{currentYear}}
</footer>
</body>
</html>